.contact {
  padding: 20px 10px;
  text-align: center;
  background-color: #1f1f1f;
  color: white;
  font-family: "Poppins", sans-serif;
}

/*Main Content*/

.contact-content {
  padding-top: 10px;
  max-width: 700px;
  margin: 0 auto;
}

.contact-content h2 {
  margin-bottom: 15px;
  font-size: 2.5rem;
}

.contact-content > p {
  margin-bottom: 35px;
  color: #b5b5b5;
  font-size: 1rem;
  line-height: 1.6;
}

/*Contact Links*/

.contact-links {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
  margin-bottom: 15px;
}

.contact-links a {
  color: white;
  text-decoration: none;
  font-weight: 500;
  transition: 0.2s ease;
}

.contact-links a:hover {
  opacity: 0.6;
}

.footer-botton p {
  margin: 0;
  font-size: 0.85rem;
  color: #888;
}
