@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #0f172a;
  font-family: "Poppins", sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 2rem;

  background-color: #1f1f1f;
  color: white;

  position: sticky;
  top: 0;
  z-index: 1000;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  margin-left: 10px;
}

.nav-links {
  display: flex;
  gap: 2rem;

  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-links li {
  cursor: pointer;
}

.nav-links li:hover {
  color: #3b82f6;
}

.logo {
  cursor: pointer;
}

.nav-links a {
  text-decoration: none;
  color: white;
  font-weight: 500;
}

.nav-links a:hover {
  color: #3b82f6;
}

/*My Logo*/

.logo img {
  border-radius: 50px;
  background: white;
  width: 40px;
  height: auto;
}
